{{ define "main" }}
{{ partial "profile.html" . }}

<div id="list-page">
    {{ $pages := .Site.RegularPages }}
    {{ $paginator := .Paginate ($pages) }}
    {{ range $paginator.Pages }}
        {{ $title := .Title }}
        {{ $summary := .Summary }}
        <section class="item">
          <div>
            <h1 class="title"><a href='{{ .RelPermalink }}'>{{ $title }}</a></h1>
            <div class ="date">
                <time datetime="{{ .PublishDate }}">{{ i18n "publishDate" . }}</time>  
            </div>
          </div>

          <p style="margin-top: 0.5rem; margin-bottom: 1rem;">{{ i18n "wordCount" . }} - {{ i18n "minuteRead" . }}</p>

	        {{ if isset .Params "thumbnail" }}
	        <img src="/images/{{ .Params.thumbnail }}" style="width: 100%; height: 200px; object-fit: cover; margin-bottom: 1rem;">
	        {{ end }}

          {{ if ne .Site.Params.hiddenPostSummaryInHomePage true }}
              <div class="summary" style="margin-top: 1rem;">{{ $summary }}</div>
          {{ end }}

          {{ with .Params.tags }}
              <div class="tags">
                  {{ range . }}
                      <a href="{{ "tags/" | absURL }}{{ . | urlize }}">{{ . }}</a>
                  {{ end }}
              </div>
          {{ end}}

          <p><a href="{{ .RelPermalink }}"><b>Read More...</b></a></p>
        </section>
    {{ end }}

    {{ if or ($paginator.HasPrev) ($paginator.HasNext) }}
        <div class="pagination">
          {{ if $paginator.HasPrev }}
              <span class="prev">
                  <a href="{{.Paginator.Prev.URL}}">
                      <span class="arrow">←</span> {{ with .Site.Params.newerPosts }}{{ . }}{{ else }}{{ i18n "postsNewer" }}{{ end }}
                  </a>
            </span>
          {{ end }}
          
          {{ if $paginator.HasNext }}
              <span class="next">
                  <a href="{{.Paginator.Next.URL}}">
                      {{ with .Site.Params.olderPosts }}{{ . }}{{ else }}{{ i18n "postsOlder" }}{{ end }} <span class="arrow">→</span>
                  </a>
              </span>
          {{ end }}
        </div>
    {{ end }}


</div>
{{ end }}
