<footer id="footer">
    {{ if .Site.Social }}
        {{ partial "social.html" . }}
    {{ end }}

    {{ if ne .Site.Params.showPowerBy false }}
      <div class="powerby">
        {{ i18n "poweredBy" | safeHTML }}
      </div>
    {{ end }}
</footer>

<!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "e30af24cf01841aa9b69c777b7cf7096"}'></script><!-- End Cloudflare Web Analytics -->

{{ range .Site.Params.customJS }}
    {{ if ( or ( hasPrefix . "http://" ) ( hasPrefix . "https://" ) ) }}
        <!-- remote js -->
        <script src="{{ . }}"></script>
    {{ else }}
        <!-- local js -->
        <script src="{{ $.Site.BaseURL }}{{ . }}"></script>
    {{ end }}
{{ end }}

{{ if .Params.katex}}{{ partial "katex.html" . }}{{ end }}

